.clients {
  padding-top: 125px;
  padding-bottom: 125px;
}

.clients__inner {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

.clients__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include list;
}

.clients__item {
  @include flex-centered;
  max-width: 22.5%;
}

.clients__item img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (max-width: 1250px) {

  .clients {
    padding-top: 100px;
    padding-bottom: 100px;
  }

}

@media (max-width: 959px) {

  .clients {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .clients__list {
    justify-content: center;
    align-items: center;
  }

  .clients__item {
    @include flex-centered;
    max-width: 201px;
    margin-right: 50px;
    margin-bottom: 20px;

    &:nth-of-type(3) {
      margin-right: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

}

@media (max-width: 743px) {

  .clients__item {

    &:nth-of-type(3) {
      margin-right: 50px;
    }

    &:nth-of-type(2n) {
      margin-right: 0;
    }

  }

}

@media (max-width: 492px) {

  .clients {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .clients__list {
    flex-direction: column;
  }

  .clients__item {
    margin-right: 0;
    margin-bottom: 25px;

    &:nth-of-type(3) {
      margin-right: 0;
    }

  }
}