.reviews {
  padding-top: 75px;
  padding-bottom: 150px;

  color: #ffffff;

  background-image: url("../img/reviews-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.reviews__inner {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

.reviews__title {
  max-width: 383px;
  @include reset;
  margin: 0 auto;
  margin-bottom: 48px;

  text-align: center;
}

.reviews__list {
  position: relative;

  display: flex;
  max-width: 940px;
  @include list;
  margin: 0 auto;
}

.slick-arrow {
  position: absolute;
  top: 50%;

  width: 80px;
  height: 80px;
  padding: 0;

  font-size: 0;

  border: none;
  background-color: transparent;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;

  transform: translateY(-50%);
  opacity: 0.8;
  cursor: pointer;

  &:focus {
    outline: 0;
  }

}

.slick-prev {
  left: -70px;
}

.slick-next {
  top: 40%;
  right: -72px;

  transform: rotate(-180deg);
}

.reviews__item {
  width: 300px;
  min-height: 369px;
  padding: 35px 20px;
  margin-right: 10px;
  margin-left: 10px;
  

  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}

.reviews__user-info {
  display: flex;
  margin-bottom: 11px;
}

.reviews__user-avatar {
  border-radius: 50%;
}

.reviews__user-name {
  @include reset;
  margin-left: 20px;

  font-weight: 600;
}

.reviews__user-job {
  display: block;

  font-weight: 400;

  opacity: 0.5;
}

.reviews__user-review {
  position: relative;

  @include reset;
  padding-top: 46px;

  text-align: center;

  &::before {
    content: "“";

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    width: 22px;
    height: 55px;
    margin: 0 auto;

    font-size: 40px;
    line-height: 55px;
    font-weight: 700;
  }
  
}

.slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -80px;

  display: inline-flex;
  justify-content: center;
  @include list;
  margin: 0 auto;
  
  font-size: 0;
}

.slick-dots li {
  margin-right: 20px;

  &:last-of-type {
    margin-right: 0;
  }

}

.slick-dots button {
  width: 12px;
  height: 12px;
  padding: 0;
  
  border: none;
  border-radius: 50%;
  background-color: #ffffff;

  opacity: 0.5;

  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

.slick-active button {
  opacity: 0.85;
}

@media (max-width: 1100px) {

  .reviews__list {
    max-width: 815px;
  }

  .reviews__user-info {
    justify-content: center;
  }

  .reviews__user-name {
    font-size: 18px;
  }

  .reviews__user-job {
    font-size: 15px;
  }

  .reviews__user-review {
    font-size: 16px;
  }

}

@media (max-width: 959px) {

 .reviews__list {
   max-width: 750px;
 }

}

@media (max-width: 893px) {

  .reviews__list {
    max-width: 650px;
  }
 
 }

 @media (max-width: 794px) {

  .reviews__list {
    max-width: 85%;
  }
 
 }

 @media (max-width: 727px) {

  .reviews__inner {
    padding-right: 4%;
    padding-left: 4%;
  }

  .reviews__list {
    max-width: 100%;
  }

  .slick-arrow {
    display: none;
  }

 }

@media (max-width: 650px) {
  
  .reviews__title {
    font-size: 32px;
  }

}

@media (max-width: 450px) {

  .reviews {
    padding-top: 50px;
    padding-bottom: 120px;
  }
  
  .reviews__title {
    font-size: 30px;
  }

  .slick-dots {
    bottom: -70px;
  }

}

@media (max-width: 360px) {

  .reviews__item {
    min-height: 400px;
  }
  
}