.reviews {
  padding-top: 38px;
  padding-bottom: 65px;

  color: #ffffff;

  background-image: url("../img/reviews-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.reviews__inner {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

.reviews__title {
  max-width: 383px;
  @include reset;
  margin: 0 auto;
  margin-bottom: 48px;

  text-align: center;
}

.reviews__list {
  display: flex;
  max-width: 940px;
  @include list;
  margin: 0 auto;
}

.reviews__item {
  width: 300px;
  padding: 35px 20px;
  margin-right: 20px;

  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);

  &:nth-of-type(3n) {
    margin-right: 0;
  }
}

.reviews__user-info {
  display: flex;
  margin-bottom: 11px;
}

.reviews__user-name {
  @include reset;
  margin-left: 20px;

  font-weight: 600;
}

.reviews__user-job {
  display: block;

  font-weight: 400;

  opacity: 0.5;
}

.reviews__user-review {
  position: relative;

  @include reset;
  padding-top: 46px;

  text-align: center;

  &::before {
    content: "“";

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    width: 22px;
    height: 55px;
    margin: 0 auto;

    font-size: 40px;
    line-height: 55px;
    font-weight: 700;
  }
}