.specialised {
  padding-top: 55px;
  padding-bottom: 93px;

  background-image: url("../img/specialised-bg.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.specialised__inner {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

.specialised__title {
  @include reset;
  margin-bottom: 96px;

  text-align: center;
}

.specialised__list {
  display: flex;
  align-items: baseline;
  max-width: 980px;
  @include list;
  margin: 0 auto;
}

.specialised__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin-right: 70px;

  &:last-of-type {
    margin-right: 0;
  }

}

.specialised__item-title {
  @include reset;
  margin-bottom: 10px;

  font-size: 20px;
  font-weight: 700;
}

.specialised__item-img {
  order: -1;
  margin-bottom: 23px;
}

.specialised__item-description {
  @include reset;

  text-align: center;
  color: #272727;

  opacity: 0.7;
}

@media (max-width: 1366px) {
  .specialised {
    background: none;
  }
} 

@media (max-width: 900px) {

  .specialised {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  .specialised__title {
    margin-bottom: 65px;
  }

  .specialised__list {
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    max-width: 650px;
  }

  .specialised__item {
    margin-right: 0;

    &:first-of-type {
      margin-right: 50px;
    }

    &:last-of-type {
      margin-top: 60px;
    }
  }

} 

@media (max-width: 650px) {

  .specialised {
    padding-top: 50px;
  }

  .specialised__title {
    font-size: 32px;
    line-height: 40px;
  }
  .specialised__item {
    width: 100%;
    margin-top: 60px;

    &:first-of-type {
      margin-right: 0;
      margin-top: 0;
    }
  }

}

@media (max-width: 450px) {

  .specialised {
    padding-top: 30px;
  }

}

@media (max-width: 332px) {

  .specialised__title {
    font-size: 30px;
  }

}