.features {
  padding-top: 63px;
  padding-bottom: 55px;
   
  background-color: $polar;
  background-image: url("../img/features-bg.svg");
  background-repeat: no-repeat;
  background-position: right 800px;
}

.features__list {
  @include list-reset;
}

.features__item {
  display: flex;
  justify-content: space-between;

  &--designers {
    margin-bottom: 76px;
  }

  &--architect {
    margin-bottom: 23px;
  }
}

.features__item:nth-of-type(2n)  .features__info {
  order: 1;
}

.features__info {
  max-width: 455px;

  background-repeat: no-repeat;

  &--designers {
    margin-top: 61px;
    padding-top: 68px;
    padding-left: 47px;

    background-image: url("../img/title-bg-1.svg");
    background-position: 20px 15px;
  }

  &--architect {
    margin-top: 61px;
    padding-top: 26px;
    padding-left: 39px;

    background-image: url("../img/title-bg-2.svg");
    background-position: 20px 35px;
  }

  &--generation {
    margin-top: 111px;
    padding-top: 35px;
    padding-left: 57px;

    background-image: url("../img/title-bg-3.svg");
    background-size: 40%;
    background-position: 23px -2px;
  }
}

.features__info-title {
  @include indent-reset;
  margin-bottom: 30px;
 
  color: $font-color-base--lighten;

  &--designers {
    padding-right: 31px;
  }

  &--architect {
    padding-right: 45px;
  }

  &--generation {
    padding-right: 95px;
  }
}

.features__text {
  @include indent-reset;

  color: $font-color-base;

  &:first-of-type:not(:only-of-type) {
    margin-bottom: 33px;
  }
}

@media (max-width: 1800px) {

  .features {
    background-image: none;
  }
}

@media (max-width: 1210px) {

  .features__image {
    max-width: 550px;
  }

  .features__image img {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .features__item--architect {
    margin-bottom: 60px;
  }
}

@media (max-width: 1110px) {

  .features__info {
    margin-top: 25px;
  }

  .features__image {
    max-width: 500px;
  }

  .features__item {

    &--designers{
      margin-bottom: 90px;
    }

    &--architect{
      margin-bottom: 80px;
    } 
  }
}

@media (max-width: 1050px) {

  .features {
    padding-bottom: 70px;
  }

  .features__info {
    margin-top: 0;
  }

  .features__image {
    max-width: 450px;
  }
}

@media (max-width: 1000px) {

  .features__image {
    max-width: 420px;
  }
}

@media (max-width: $desktop-max-width) {

  .features__info {
    max-width: 400px;
  }

  .features__info-title {
    font-size: 30px;
    line-height: 40px;

    &--generation {
      padding-right: 83px;
    }
  }

  .features__image {
    max-width: 420px;
  }
}

@media (max-width: 900px) {

  .features {
    padding-top: 45px;
  }

  .features__item {

    &--designers{
      margin-bottom: 90px;
    }

    &--architect{
      margin-bottom: 80px;
    }
  }

  .features__info {
    max-width: 360px;
    margin-top: 0;
    padding-left: 30px;
    background-size: 50%;

    &--designers {
      background-position: 0 15px;
    }

    &--generation {
      background-position: 13px 15px;
      background-size: 41%;
    }
  }

  .features__info-title {
    padding-right: 0;
  }

  .features__image {
    display: flex;
    align-items: flex-end;
    max-width: 390px;
  }

  .features__image img {
    height: 90%;
  }
}

@media (max-width: 850px) {
  .features__image {
    max-width: 360px;
  }
}

@media (max-width: 800px) {

  .features {
    padding-top: 70px;
  }

  .features__item {
    flex-wrap: wrap;
    justify-content: center;

    &:first-of-type img {
      position: relative;
      left: 15px;
    }

    &:nth-of-type(3) img {
      position: relative;
      left: 15px;
    }
  }

  .features__info {
    max-width: 100%;
    margin-bottom: 60px;
    padding-top: 0;
    padding-left: 0;

    text-align: center;

    background: none;
  }

  .features__item:nth-of-type(2n) .features__info {
    order: -1;
  }

  .features__text:first-of-type:not(:only-of-type) {
    margin-bottom: 20px;
  }

  .features__image {
    max-width: 85%;
  }

  .features__image img {
    height: 100%;
  }
}

@media (max-width: 518px) {

  .features {
    padding-top: 50px;
  }
}  

@media (max-width: 450px) {

  .features {
    padding-bottom: 60px;
  }

  .features__info {
    margin-bottom: 45px;
  }
}