.page-footer {
  padding-top: 20px;
  padding-bottom: 18px;

  background-color: #f8f8f8;
}

.page-footer__inner {
  display: flex;
  justify-content: space-between;
}

.page-footer__navigation-list {
  display: flex;
  align-items: center;
  max-width: 389px;
  @include list-reset;
  padding-left: 45px;
  padding-right: 45px;
}

.page-footer__navigation-item {
  margin-right: 30px;

  &:last-of-type {
    margin-right: 0;
  }
}

.page-footer__navigation-item a {
  @include link;

  &:hover {
   text-decoration: underline;
  }
}

.page-footer__copyright {
  @include indent-reset;
  padding-right: 10px; 
}

.page-footer__copyright-mail {
  display: block;

  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 750px) {
  .page-footer__inner {
    flex-wrap: wrap;
  }

  .page-footer__navigation-list {
    margin-bottom: 20px;
    padding-right: 0;
    padding-left: 15px;
  }

  .page-footer__copyright {
    width: 100%;
    padding-left: 15px;

    text-align: left;
  }
}

@media (max-width: 423px) {
  .page-footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 400px) {
  .page-footer__navigation-list {
    padding-left: 10px;
  }

  .page-footer__copyright {
    padding-left: 10px;
  }
}

@media (max-width: 375px) {
  .page-footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .page-footer__navigation-list {
    margin-bottom: 30px;
  }
}
